<h1>インポート参照画面</h1>
<!--<p>-->
<!--  <strong>カラム番号:</strong> <%#= @import_detail.sheet_column_number %>-->
<!--</p>-->
<!--<p>-->
<!--  <strong>ラベル:</strong>-->
  <%# @import_detail.labels.each do |n| %>
    <%#= n.title %>
  <%# end %>
<!--</p>-->
<!--<p>-->
<!--  <strong>詳しい内容:</strong> <%#= @import_detail.content %>-->
<!--</p>-->
<!--<p>-->
<!--  <strong>作成日時:</strong> <%#= l @import_detail.created_at %>-->
<!--<p>-->
<!--<p>-->
<!--  <strong>優先順位:</strong> <%#= l @import_detail.expired_at, format: :short %>-->
<!--<p>-->
<!--  <strong>ステータス:</strong> <%#= @import_detail.status %>-->
<!--</p>-->
<!--<p>-->
<!--  <strong>優先度:</strong> <%#= @import_detail.priority %>-->
<!--</p>-->