/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.text-custom-color {
  color: #f8f8ff;
}

// サイドバーの幅分bodyを右ずらししている。サイドバー開閉ができれば不要
.content {
  margin-left: 200px;
  padding: 15px;
  background-color: #f8f9fa;
}

nav#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #262626;
}

.sheet-id-input {
  width: 60px;
}

.text-field-box {
  width: 50%;
}

.text-field-box label {
  display: block;
  margin-bottom: 5px;
}

.text-field-box input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

// カスタムの小さめのalertスタイル
.alert-sm {
  font-size: 0.875rem; // 通常より小さいフォントサイズ
  padding: 0.25rem 0.5rem; // 通常より小さいパディング
  border-radius: 0.25rem; // 通常の半分のボーダーラウンド
}